<div class="row justify-content-center">
    <div class="col-11">
        <div *ngIf="season">
            <div *ngIf="standaloneView">
                <h2><span>Season</span> {{season.id}}</h2>
                <hr>
                <jhi-alert-error></jhi-alert-error>
                <dl class="row-md jh-entity-details">
                    <dt><span>Number</span></dt>
                    <dd>
                        <span>{{season.number}}</span>
                    </dd>
                    <dt><span>Description</span></dt>
                    <dd>
                        <span>{{season.description}}</span>
                    </dd>
                    <dt><span>Release Year</span></dt>
                    <dd>
                        <span>{{season.releaseYear}}</span>
                    </dd>
                    <dt><span>Series</span></dt>
                    <dd>
                        <div *ngIf="season.series">
                            <a [routerLink]="['/series', season.series?.id, 'view']">{{season.series?.id}}</a>
                        </div>
                    </dd>
                </dl>
            </div>
            <dl class="row-md jh-entity-details">
                <dt *ngIf="standaloneView"><span>Description</span></dt>
                <dd class="content-description" *ngIf="season.description">
                    <span>{{season.description}}</span>
                </dd>
                <dt *ngIf="season.episodes.length > 0 && standaloneView"><span>Episodes</span></dt>
                <dd class="card">
                    <a class="card-header" *ngFor="let episode of season.episodes | orderBy: ['number']"
                       [routerLink]="['/series', season.series.releaseYear, season.series.name, 'season', season.number, 'episode',  episode.number]">
                        <div class="float-left">Episode {{episode.number}}</div>
                        <div class="float-right" *ngIf="episode.releaseDate">{{episode.releaseDate}}</div>
                        <div class="float-right" *ngIf="!episode.releaseDate">N/A</div>
                        <!--<span>Episode {{episode.number}} : {{episode.releaseDate}}</span>-->
                    </a>
                </dd>
            </dl>

            <button type="submit"
                    (click)="previousState()"
                    class="btn btn-info" *ngIf="standaloneView">
                <fa-icon [icon]="'arrow-left'"></fa-icon>&nbsp;<span> Back</span>
            </button>

            <button *jhiHasAnyAuthority="'ROLE_ADMIN'" type="button"
                    [routerLink]="['/season', season.id, 'view']"
                    class="btn btn-primary">
                <fa-icon [icon]="'pencil-alt'"></fa-icon>&nbsp;<span> Edit</span>
            </button>
        </div>
    </div>
</div>
