<!--<jhi-page-ribbon></jhi-page-ribbon>-->
<header>
    <router-outlet name="navbar"></router-outlet>
</header>
<main class="pt-5 mx-lg-5">
    <div class="container-fluid mt-5">
        <div class="row wow fadeIn">
            <div class="col-xl-8" style="margin:auto">
                <div class="card">
                    <div class="card-body">
                        <router-outlet></router-outlet>
                        <router-outlet name="popup"></router-outlet>
                    </div>
                </div>
            </div>
        </div>
    </div>
</main>
<!--<jhi-footer></jhi-footer>-->
