<div>
    <h2 id="page-heading">
        <span>Watched Episodes</span>
        <button id="jh-create-entity" class="btn btn-primary float-right jh-create-entity create-watched-episode" [routerLink]="['/watched-episode/new']">
            <fa-icon [icon]="'plus'"></fa-icon>
            <span >
            Create new Watched Episode
            </span>
        </button>
    </h2>
    <jhi-alert></jhi-alert>
    <br/>
    <div class="table-responsive" *ngIf="watchedEpisodes">
        <table class="table table-striped">
            <thead>
            <tr>
            <th><span>ID</span></th>
            <th><span>Rate</span></th>
            <th><span>Comment</span></th>
            <th><span>User</span></th>
            <th><span>Episode</span></th>
            <th></th>
            </tr>
            </thead>
            <tbody>
            <tr *ngFor="let watchedEpisode of watchedEpisodes ;trackBy: trackId">
                <td><a [routerLink]="['/watched-episode', watchedEpisode.id, 'view' ]">{{watchedEpisode.id}}</a></td>
                <td>{{watchedEpisode.rate}}</td>
                <td>{{watchedEpisode.comment}}</td>
                <td>
                    {{watchedEpisode.user?.id}}
                </td>
                <td>
                    <div *ngIf="watchedEpisode.episode">
                        <a [routerLink]="['../episode', watchedEpisode.episode?.id, 'view' ]" >{{watchedEpisode.episode?.id}}</a>
                    </div>
                </td>
                <td class="text-right">
                    <div class="btn-group flex-btn-group-container">
                        <button type="submit"
                                [routerLink]="['/watched-episode', watchedEpisode.id, 'view' ]"
                                class="btn btn-info btn-sm">
                            <fa-icon [icon]="'eye'"></fa-icon>
                            <span class="d-none d-md-inline">View</span>
                        </button>
                        <button type="submit"
                                [routerLink]="['/watched-episode', watchedEpisode.id, 'edit']"
                                class="btn btn-primary btn-sm">
                            <fa-icon [icon]="'pencil-alt'"></fa-icon>
                            <span class="d-none d-md-inline">Edit</span>
                        </button>
                        <button type="submit"
                                [routerLink]="['/', { outlets: { popup: 'watched-episode/'+ watchedEpisode.id + '/delete'} }]"
                                replaceUrl="true"
                                queryParamsHandling="merge"
                                class="btn btn-danger btn-sm">
                            <fa-icon [icon]="'times'"></fa-icon>
                            <span class="d-none d-md-inline">Delete</span>
                        </button>
                    </div>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
</div>
