<div *ngIf="!account" class="hello-user">
    <div class="text-center">
        <h1 class="display-4">Welcome, Tele-Hipster!</h1>
    </div>
        <p class="lead">Please, sign in or register to see series & episodes<br/>and mark series as followed or episodes as watched</p>
        <p class="lead">This is your homepage</p>

        <div [ngSwitch]="isAuthenticated()">
            <div class="alert alert-success" *ngSwitchCase="true">
                <span id="home-logged-message" *ngIf="account"
                   > You are logged in as user "{{account.login}}". </span>
            </div>

            <div class="alert alert-warning" *ngSwitchCase="false">
                <span>If you want to </span>
                <a class="alert-link" (click)="login()">sign in</a><span>, you can try the default accounts:<br/>- Administrator (login="admin" and password="admin") <br/>- User (login="user" and password="user").</span>
            </div>
            <div class="alert alert-warning" *ngSwitchCase="false">
                <span>You don't have an account yet?</span>&nbsp;
                <a class="alert-link" routerLink="register">Register a new account</a>
            </div>
        </div>
</div>
<div *ngIf="account" class="text-center hello-user">
    <span class="display-1"> Welcome, {{account.login}}!</span>
    <br/>
    <span class="display-4">What have you watched lately?</span>
</div>
