<div class="row justify-content-center">
    <div class="col-8">
        <div *ngIf="followedSeries">
            <h2><span>Followed Series</span> {{followedSeries.id}}</h2>
            <hr>
            <jhi-alert-error></jhi-alert-error>
            <dl class="row-md jh-entity-details">
                <dt><span>Rate</span></dt>
                <dd>
                    <span>{{followedSeries.rate}}</span>
                </dd>
                <dt><span>Comment</span></dt>
                <dd>
                    <span>{{followedSeries.comment}}</span>
                </dd>
                <dt><span>User</span></dt>
                <dd>
                    {{followedSeries.user?.id}}
                </dd>
                <dt><span>Series</span></dt>
                <dd>
                    <div *ngIf="followedSeries.series">
                        <a [routerLink]="['/series', followedSeries.series?.id, 'view']">{{followedSeries.series?.id}}</a>
                    </div>
                </dd>
            </dl>

            <button type="submit"
                    (click)="previousState()"
                    class="btn btn-info">
                <fa-icon [icon]="'arrow-left'"></fa-icon>&nbsp;<span> Back</span>
            </button>

            <button type="button"
                    [routerLink]="['/followed-series', followedSeries.id, 'edit']"
                    class="btn btn-primary">
                <fa-icon [icon]="'pencil-alt'"></fa-icon>&nbsp;<span> Edit</span>
            </button>
        </div>
    </div>
</div>
