<div class="row justify-content-center">
    <div class="col-11 no-padding">
        <div *ngIf="series" class="row">
            <div class="col-md-9">
                <h2 class="row">
                    <span class="col-6">{{series.name}}</span>
                    <span class="col-4 small">{{series.releaseYear}}</span>
                    <fa-icon class="col-2" *ngIf="followedSeries"
                             [icon]="followedSeries.id?['fas','heart']:['far','heart']"
                             (click)="setFollowed()"></fa-icon>
                </h2>
                <hr>
                <jhi-alert-error></jhi-alert-error>
                <dl class="row-md jh-entity-details">
                    <dd class="content-description">
                        <span>{{series.description}}</span>
                    </dd>
                    <!--<dt *ngIf="series.seasons.length > 0"><span>Seasons</span></dt>-->
                    <dd id="accordion" *ngFor="let season of series.seasons | orderBy: ['number']">
                        <div class="card seasons-list no-padding">
                            <div class="card-header" (click)="setVisible(season.number)">
                                <div class="card-link" data-toggle="collapse">
                                    <div class="float-left">Season {{season.number}}</div>
                                    <div class="float-right" *ngIf="season.releaseYear">{{season.releaseYear}}</div>
                                    <div class="float-right" *ngIf="!season.releaseYear">N/A</div>
                                    <!--Season {{season.number}} : {{season.releaseYear}}-->
                                </div>
                            </div>
                            <div id="{{ 'collapse-' + season.number }}" class="collapse"
                                 [ngClass]="{'show':season.number == visibleSeason}" data-parent="#accordion">
                                <div class="card-body">
                                    <jhi-season-detail [season]="season"></jhi-season-detail>
                                </div>
                            </div>
                        </div>
                    </dd>
                </dl>

                <button *jhiHasAnyAuthority="'ROLE_ADMIN'" type="submit"
                        (click)="previousState()"
                        class="btn btn-info">
                    <fa-icon [icon]="'arrow-left'"></fa-icon>&nbsp;<span> Back</span>
                </button>

                <button *jhiHasAnyAuthority="'ROLE_ADMIN'" type="button"
                        [routerLink]="['/series', series.id, 'edit']"
                        class="btn btn-primary">
                    <fa-icon [icon]="'pencil-alt'"></fa-icon>&nbsp;<span> Edit</span>
                </button>
            </div>
            <div class="col-md-3">
                <div class="card opinion" *ngIf="followedSeries">
                    <!--<span>FollowedSeries</span>-->
                    <div>
                        <h2>
                            <fa-icon [icon]="['fas','star']"></fa-icon>
                            <span *ngIf="averageRate"> {{averageRate | number : '1.1-1'}}</span>
                            <span *ngIf="!averageRate"> N/A</span>
                        </h2>
                        <div>
                            Votes: {{rateCount}}
                        </div>
                        <div>
                            Your rate: {{followedSeries.rate}}
                        </div>
                        <div class="stars">
                            <fa-icon *ngFor="let i of [1,2,3,4,5]"
                                     [icon]="shouldStarBeFilled(i)?['fas','star']:['far','star']"
                                     (click)="setRate(i)"></fa-icon>
                        </div>
                        <form>
                            <div class="form-group">
                                <label for="comment">Your comment:</label>
                                <textarea class="form-control" rows="5"
                                          id="comment"
                                          #comment
                                          (keydown.enter)="saveComment(comment.value)" [disabled]="followedSeries.comment">{{followedSeries.comment}}</textarea>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
