<div class="row justify-content-center">
    <div class="col-11">
        <div *ngIf="series">
            <h2><span>Series</span> {{series.id}}</h2>
            <hr>
            <jhi-alert-error></jhi-alert-error>
            <dl class="row-md jh-entity-details">
                <dt><span>Name</span></dt>
                <dd>
                    <span>{{series.name}}</span>
                </dd>
                <dt><span>Release Year</span></dt>
                <dd>
                    <span>{{series.releaseYear}}</span>
                </dd>
                <dt><span>Description</span></dt>
                <dd>
                    <span>{{series.description}}</span>
                </dd>
                <dt><span>FollowedSeries</span></dt>
                <dd>
                    <div *ngIf="followedSeries && followedSeries.id">
                        Rate:{{followedSeries.rate}}
                        Comment:{{followedSeries.comment}}
                    </div>
                </dd>
                <dt *ngIf="series.seasons.length > 0"><span>Seasons</span></dt>
                <dd id="accordion" class="row" *ngFor="let season of series.seasons">
                    <div class="card col-8 no-padding">
                        <div class="card-header" (click)="setVisible(season.number)">
                            <div class="card-link" data-toggle="collapse">
                                <div class="float-left">Season {{season.number}}</div>
                                <div class="float-right">{{season.releaseYear}}</div>
                                <!--Season {{season.number}} : {{season.releaseYear}}-->
                            </div>
                        </div>
                        <div id="{{ 'collapse-' + season.number }}" class="collapse" [ngClass]="{'show':season.number == visibleSeason}" data-parent="#accordion">
                            <div class="card-body">
                                <jhi-season-detail [season]="season"></jhi-season-detail>
                            </div>
                        </div>
                    </div>
                </dd>
            </dl>

            <button type="submit"
                    (click)="previousState()"
                    class="btn btn-info">
                <fa-icon [icon]="'arrow-left'"></fa-icon>&nbsp;<span> Back</span>
            </button>

            <button *jhiHasAnyAuthority="'ROLE_ADMIN'" type="button"
                    [routerLink]="['/series', series.id, 'edit']"
                    class="btn btn-primary">
                <fa-icon [icon]="'pencil-alt'"></fa-icon>&nbsp;<span> Edit</span>
            </button>
        </div>
    </div>
</div>
