<div class="row justify-content-center">
    <div class="col-11 no-padding">
        <div *ngIf="episode" class="row">
            <div class="col-md-9">
                <h2 class="d-block">
                    <div class="row">
                        <span class="col-10">Episode {{episode.number}}</span>
                    <fa-icon class="col-2" *ngIf="watchedEpisode"
                             [icon]="watchedEpisode.id?['fas','check-circle']:['far','check-circle']"
                             (click)="setFollowed()"></fa-icon>
                    </div>
                </h2>
                <hr>
                <jhi-alert-error></jhi-alert-error>
                <!--<h3>-->
                    <!--<span>{{episode.title}}</span>-->
                <!--</h3>-->
                <dl class="row-md jh-entity-details">
                    <!--<dt><span>Number</span></dt>-->
                    <!--<dd>-->
                        <!--<span>{{episode.number}}</span>-->
                    <!--</dd>-->
                    <dt><span>Title</span></dt>
                    <dd>
                        <span>{{episode.title}}</span>
                    </dd>
                    <dt><span>Release Date</span></dt>
                    <dd>
                        <span>{{episode.releaseDate | date : 'medium'}}</span>
                    </dd>
                    <dt><span>Duration</span></dt>
                    <dd>
                        <span *ngIf="episode.duration">{{episode.duration}}</span>
                        <span *ngIf="!episode.duration">N/A</span>
                    </dd>
                    <!--<dt><span>Season</span></dt>-->
                    <!--<dd>-->
                        <!--<div *ngIf="episode.season">-->
                            <!--<a [routerLink]="['/season', episode.season?.id, 'view']">{{episode.season?.id}}</a>-->
                        <!--</div>-->
                    <!--</dd>-->
                </dl>

                <button *jhiHasAnyAuthority="'ROLE_ADMIN'" type="submit"
                        (click)="previousState()"
                        class="btn btn-info">
                    <fa-icon [icon]="'arrow-left'"></fa-icon>&nbsp;<span> Back</span>
                </button>

                <button *jhiHasAnyAuthority="'ROLE_ADMIN'" type="button"
                        [routerLink]="['/episode', episode.id, 'edit']"
                        class="btn btn-primary">
                    <fa-icon [icon]="'pencil-alt'"></fa-icon>&nbsp;<span> Edit</span>
                </button>
            </div>
            <div class="col-md-3">
                <div class="card opinion" *ngIf="watchedEpisode">
                    <!--<span>WatchedEpisode</span>-->
                    <div>
                        <h3>
                            <fa-icon [icon]="['fas','star']"></fa-icon> {{averageRate | number : '1.2-2'}}
                        </h3>
                        <div>
                            Votes: {{rateCount}}
                        </div>
                        <div>
                            Rate: {{watchedEpisode.rate}}
                        </div>
                        <div class="stars">
                            <fa-icon *ngFor="let i of [1,2,3,4,5]"
                                     [icon]="shouldStarBeFilled(i)?['fas','star']:['far','star']"
                                     (click)="setRate(i)"></fa-icon>
                        </div>
                        <form>
                            <div class="form-group">
                                <label for="comment">Comment:</label>
                                <textarea class="form-control" rows="5"
                                          id="comment"
                                          #comment
                                          (blur)="saveComment(comment.value)"
                                          [disabled]="watchedEpisode.comment">{{watchedEpisode.comment}}</textarea>
                                <!--<button type="submit" class="btn btn-primary" [disabled]="watchedEpisode.comment">Submit-->
                                    <!--comment-->
                                <!--</button>-->
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
