<div>
    <h2 id="page-heading">
        <span>Episodes</span>
        <button *jhiHasAnyAuthority="'ROLE_ADMIN'" id="jh-create-entity" class="btn btn-primary float-right jh-create-entity create-episode" [routerLink]="['/episode/new']">
            <fa-icon [icon]="'plus'"></fa-icon>
            <span >
            Create new Episode
            </span>
        </button>
    </h2>
    <jhi-alert></jhi-alert>
    <br/>
    <div class="table-responsive" *ngIf="episodes">
        <table class="table table-striped">
            <thead>
            <tr>
            <th><span>ID</span></th>
            <th><span>Number</span></th>
            <th><span>Title</span></th>
            <th><span>Release Date</span></th>
            <th><span>Duration</span></th>
            <th><span>Season</span></th>
            <th></th>
            </tr>
            </thead>
            <tbody>
            <tr *ngFor="let episode of episodes ;trackBy: trackId">
                <td><a [routerLink]="['/episode', episode.id, 'view' ]">{{episode.id}}</a></td>
                <td>{{episode.number}}</td>
                <td>{{episode.title}}</td>
                <td>{{episode.releaseDate | date:'mediumDate'}}</td>
                <td>{{episode.duration}}</td>
                <td>
                    <div *ngIf="episode.season">
                        <a [routerLink]="['../season', episode.season?.id, 'view' ]" >{{episode.season?.id}}</a>
                    </div>
                </td>
                <td class="text-right">
                    <div class="btn-group flex-btn-group-container">
                        <button type="submit"
                                [routerLink]="['/episode', episode.id, 'view' ]"
                                class="btn btn-info btn-sm">
                            <fa-icon [icon]="'eye'"></fa-icon>
                            <span class="d-none d-md-inline">View</span>
                        </button>
                        <button *jhiHasAnyAuthority="'ROLE_ADMIN'" type="submit"
                                [routerLink]="['/episode', episode.id, 'edit']"
                                class="btn btn-primary btn-sm">
                            <fa-icon [icon]="'pencil-alt'"></fa-icon>
                            <span class="d-none d-md-inline">Edit</span>
                        </button>
                        <button *jhiHasAnyAuthority="'ROLE_ADMIN'" type="submit"
                                [routerLink]="['/', { outlets: { popup: 'episode/'+ episode.id + '/delete'} }]"
                                replaceUrl="true"
                                queryParamsHandling="merge"
                                class="btn btn-danger btn-sm">
                            <fa-icon [icon]="'times'"></fa-icon>
                            <span class="d-none d-md-inline">Delete</span>
                        </button>
                    </div>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
</div>
